<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="iLMSTesting" configfailurepolicy="continue">
	<test name="iLMSTesting" group-by-instances="true" preserve-order="true">
    	<parameter name = "browser" value = "Chrome"/>  
    	<classes>
<!--			<class name = "TestSuite.Grade"/>-->
<!--            <class name = "TestSuite.ReviewAdjust"/>-->
<!--	        <class name = "TestSuite.BulkAdjustment"/>-->
            <class name = "TestSuite.CreateFeedback"/>
<!--            <class name = "TestSuite.UpdateFeedback"/>-->
<!--            <class name = "TestSuite.DeleteFeedback"/>-->
<!--            <class name = "TestSuite.Reports"/>-->
<!--			<class name = "TestSuite.Materials"/>-->

<!--            <class name = "TestSuite.CreateFeedback"/>-->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->